<style>
  .item {
    text-align:{{ section.settings.align }}; 
  }
  .text {
    margin:{{ section.settings.margin }};
    padding:{{ section.settings.padding }};
  }
</style>

<section>
  <div class="banner_text owl-carousel owl-theme">
    {% for block in section.blocks %}
    <div class="item">
      <h5 class="text">{{ block.settings.heading }}</h5>
    </div>
    {% endfor %}
  </div>
</section>

<script>
    $('.banner_text').owlCarousel({
      loop:true,
      items:1,
      nav:false,
      smartSpeed  : {{ section.settings.slide_speed }},
      mouseDrag : false,
      autoplay:true,
      autoplayTimeout:{{ section.settings.autoplay_speed }},
      autoplayHoverPause:true,
      touchDrag : false,
      dots :false
	});
</script>
  
{% schema %}
{
  "name": "Banner Text",
  "max_blocks": 5,
  "class": "index-section index-section--flush",
  "settings": [
	{
      "type": "select",
      "id": "autoplay_speed",
      "label": "Change slides every",
      "options": [
        { "value": "3000", "label": "3 seconds" },
        { "value": "4000", "label": "4 seconds" },
        { "value": "5000", "label": "5 seconds" },
        { "value": "6000", "label": "6 seconds" },
        { "value": "7000", "label": "7 seconds" },
        { "value": "8000", "label": "8 seconds" },
        { "value": "9000", "label": "9 seconds" },
        { "value": "10000", "label": "10 seconds" }
      ],
      "default": "5000"
    }, 
	{
      "type":      "range",
      "id":        "slide_speed",
      "min":       100,
      "max":        9900,
      "step":       100,
      "unit":       "ms",
      "label":     "Slide speed",
      "default":   1000
    },
    {
      "type": "text",
      "id": "align",
      "label": "Text align",
      "default": "center",
      "info": "left - center - right - justify"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Margin",
      "default": "0",
      "info": "Can use value like 5px 5% 5px 5% (top right bottom left)"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Padding",
      "default": "10px 0",
      "info": "Can use value like 5px 5% 5px 5% (top right bottom left)"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "text",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Slideshow Heading",
          "info": "Optional"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Banner Text",
    "category": "Custom zerance agency"
  }]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
